<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hbm2ddl.auto">update</property>
		<property name="dialect">org.hibernate.dialect.SQLServerDialect</property>
		<property name="connection.url">jdbc:sqlserver://127.0.0.1:1433;DatabaseName=DangerQA;integratedSecurity=false;</property>
		<property name="connection.username">sa</property>
		<property name="connection.password">sa1</property>
		<property name="connection.driver_class">org.microsoft.sqlserver.jdbc</property>
		<mapping resource="employee.hbm.xml"/>
	</session-factory>
</hibernate-configuration>


 